<div class="container">
	<div class="title">CHOOSE WISELY</div>

	<div id="white" class="choice-circle">
		<%= link_to "Sign up", new_user_registration_path %></div>
	<div id="black" class="choice-circle">
		<%= link_to "Sign in", new_user_session_path %></div>
</div>